* {
  background-color: #1a1a1a;
  color: white;
}

a:focus {
  outline: none;
  color: #ff007f;
}

a:hover {
  color: #ff007f;
}

body {
  max-width: 80%;
  margin-left: 10%;
  margin-top: 5%;
  margin-right: 10%;
}

#settings{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.setMessage{
  font-size: 20px;
}

footer {
  text-align: center;
  padding: 20px 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
}

body {
  min-height: 100%;
}