.cardImage {
    display: none;
}

tbody>tr:hover .cardImage {
    display: block;
    position: absolute;
}

tbody>tr:hover * {
    background-color: #2d2d2d;
}

.cardNumber {
    width: 3%;
    text-align: center;
}