.cardAdder {

    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 2%;

    border-bottom: 2px solid #6e6e6e;
    border-top: 2px solid #6e6e6e;

    padding-bottom: 2%;

    & p {
        padding-left: 2%;
        font-size: 18px;
    }

    & .cardAdderInput {
        display: flex;
        gap: 5%;

        padding-bottom: 2%;

        & input[type='button'].available:hover {
            border-color: #ff007f;
        }

        & input[type='button']{
            cursor: not-allowed;
        }

        & input[type='button'].available {
            cursor: pointer;
        }

    }

    & .cardAdderFeedback {

        & .addedCardName{
            padding: 0;
        }

        & .addedCardName:hover .cardImage {
            display: block;
            position: absolute;
        }

        & input[type='button'] {
            cursor: pointer;
        }

        & input[type='button']:hover {
            border-color: #ff007f;
        }
    }

    & span {
        padding: 8px 16px;
    }

    & input {
        border: 2px solid #6e6e6e; /* Bordure */
        border-radius: 20px; /* Coins arrondis */
        padding: 8px 16px; /* Espacement intérieur */
        font-size: 14px; /* Taille de police */
        outline: none; /* Supprimer la mise en évidence au focus */
        transition: border-color 0.3s;
    }

    & input:focus {
        border-color: #ff007f;
    }
}